body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trees {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.leaf {
    position: absolute;
    width: 60px; 
    animation: fall 10s infinite linear;
}

.leaf-01 {
    left: 10%;
    animation-duration: 15s;
}

.leaf-02 {
    left: 30%;
    animation-duration: 12s;
}

.leaf-03 {
    left: 50%;
    animation-duration: 18s;
}

.leaf-04 {
    left: 70%;
    animation-duration: 20s;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.girl {
    position: absolute;
    bottom: 10px;
    right: -150px;
    width: 200px; 
    animation: moveLeft 15s infinite linear;
}


@keyframes moveLeft {
    0% {
        right: -200px; 
    }
    100% {
        right: 100%;
    }
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    z-index: 1; 
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #6a11cb;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ec542a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #eb8265;
}

.form-links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
}

.form-links a {
    color: #ec542a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-links a:hover {
    color: #eb8265;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
